<div class="about">
    <label style="display:block;text-align: center;">﷽</label>

    <img class="logo" src="assets/awrad-logo.png" alt="logo of awrad" />
    <p>
        أوراد هي منصّة تقنيّة تتيح تنفيذ الأوراد الإسلاميّة بشكل جماعي، وذلك عن طريق إنشاء مجموعات للأوراد المشتركة
        (لأصدقائك أو عائلتك مثلا) ثمّ مشاركة الأوراد ومتابعة تنفيذها من قبل أعضاء المجموعة بشكل سلس ومتاح لجميع أعضاء
        المجموعة.
    </p>

    <section>
        <header style="margin-top: 64px;">شرح الاستخدام</header>

        <p>في الفيديو التالي شرح وافٍ لكيفيّة استخدام منصّة أوراد.</p>


        <iframe width="100%" height="315" src="https://www.youtube.com/embed/MXh10UDyaA0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>


        <a class="block" mat-raised-button color="primary" style="background-color: #c4302b;"
            href="https://www.youtube.com/watch?v=MXh10UDyaA0&ab_channel=DigitalUmmah" target="_blank">

            <mat-icon>play_circle_filled</mat-icon>

            فيديو الشرح على
            يوتيوب
        </a>


        <!-- <video width="100%" controls preload="auto">
            <source src="/assets/video-tutorial.mp4" type="video/mp4">

            <a class="block" mat-raised-button color="primary"
                href="https://www.youtube.com/watch?v=MXh10UDyaA0&ab_channel=DigitalUmmah" target="_blank">

                <mat-icon>play_circle_filled</mat-icon>

                فيديو الشرح على
                يوتيوب
            </a>

        </video> -->






        <p> تقبل الله طاعاتكم ودمتم بحفظ الله تعالى ورعايته. </p>

    </section>

    <hr />


    <ul class="links">
        <li><a href="/assets/privacy_policy.html" target="_blank">اتفاقيّة الخصوصيّة</a></li>
        <li><a href="/assets/terms_of_use.html" target="_blank">شروط الاستخدام</a></li>

    </ul>


</div>