<div *ngIf="group" style="position: relative;">


    <app-celebration *ngIf="showCelebration" class="celebration-container"
        style="position: fixed; top: 0; left: 0; right: 0; z-index: 10000; bottom: 0;">
    </app-celebration>

    <header class="dashboard-header" style="position: relative;">

        <button mat-icon-button [matMenuTriggerFor]="menu" class="group-options-menu-button" *ngIf="!isAdmin">
            <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="shareInviteMsg()">
                <mat-icon>link</mat-icon>
                مشاركة رابط المجموعة
            </button>


            <button *ngIf="!isAdmin" mat-menu-item (click)="leaveGroup()">
                <mat-icon>exit_to_app</mat-icon>
                <span>ترك المجموعة</span>
            </button>

        </mat-menu>

        <app-group-info [group]="group" [isExpanded]="false"></app-group-info>

    </header>

    <section *ngIf="isAdmin" class="admin-tools">
        <mat-expansion-panel [expanded]="adminPanelOpen">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>verified</mat-icon>
                    <span>
                        أدوات مسؤول المجموعة
                    </span>
                </mat-panel-title>

            </mat-expansion-panel-header>


            <button mat-flat-button (click)="shareStatusMsg(); adminPanelOpen=false;">
                <mat-icon>format_list_numbered_rtl</mat-icon>
                <span>مشاركة وضع المجموعة</span>
            </button>

            <button mat-flat-button (click)="shareStatusMsgWhatsapp(); adminPanelOpen=false;" class="whatsapp-btn">
                <mat-icon>format_list_numbered_rtl</mat-icon>
                <span>مشاركة وضع المجموعة - وتسأب</span>
            </button>

            <!-- whatsapp direct share? -->



            <button mat-flat-button (click)="sameTaskGroupChildComponent.showNewTaskDialog(); adminPanelOpen=false;"
                *ngIf="group.type === GROUP_TYPE.SAME_TASK">
                <mat-icon>sports_score</mat-icon>
                <span>تعديل المهمّات الحاليّة</span>
            </button>


            <button mat-flat-button (click)="sameTaskGroupChildComponent.showNewTaskDialog(); adminPanelOpen=false;"
                *ngIf="group.type === GROUP_TYPE.SAME_TASK">
                <mat-icon>sports_score</mat-icon>
                <span>نفس المهمّات من جديد</span>
            </button>

            <button mat-flat-button (click)="sameTaskGroupChildComponent.showNewTaskDialog(); adminPanelOpen=false;"
                *ngIf="group.type === GROUP_TYPE.SAME_TASK">
                <mat-icon>sports_score</mat-icon>
                <span>مهمّات جديدة</span>
            </button>






            <button mat-flat-button (click)="showEditGroupDialog(); adminPanelOpen=false;">
                <mat-icon>edit</mat-icon>
                <span>تعديل تفاصيل المجموعة</span>
            </button>


            <button mat-flat-button (click)="shareInviteMsg(); adminPanelOpen=false;">
                <mat-icon>link</mat-icon>
                مشاركة رابط المجموعة
            </button>


        </mat-expansion-panel>
    </section>


    <section class="block user-msg">

        <span> السلام عليكم يا <strong>{{username}}</strong>، </span>

    </section>



    <section *ngIf="group" class="group-container">


        <app-group-sametask *ngIf="group.type === GROUP_TYPE.SAME_TASK" [group]="group" [userWatch$]="userWatch$"
            [isAdmin]="isAdmin" [username]="username" (onAchievement)="celebrate($event)">
        </app-group-sametask>

    </section>



    <div class="spacer"></div>

</div>