<div *ngIf="group" style="position: relative;" id="dashboard-container">


    <app-celebration *ngIf="showCelebration" class="celebration-container">
    </app-celebration>

    <header class="dashboard-header" style="position: relative;">

        <button mat-icon-button [matMenuTriggerFor]="menu" class="group-options-menu-button" *ngIf="!isAdmin">
            <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="shareInviteMsg()">
                <mat-icon>link</mat-icon>
                مشاركة رابط المجموعة
            </button>


            <button *ngIf="!isAdmin" mat-menu-item (click)="leaveGroup()">
                <mat-icon>exit_to_app</mat-icon>
                <span>ترك المجموعة</span>
            </button>

        </mat-menu>

        <app-group-info [group]="group" [isExpanded]="false"></app-group-info>

    </header>

    <!-- <section id="group" class="group-container"> -->

    <mat-tab-group mat-stretch-tabs>

        <mat-tab label="أورادي" *ngIf="!(isAdmin && group.isAdminExcluded)">




            <span> السلام عليك يا <strong>{{username}}</strong>،
                <br />
                هذه أورادك الحاليّة في المجموعة:
            </span>


            <app-tasks [tasks]="group.getTasks()" [tasksStatuses]="myMember.getTasksStatuses()"
                (onToggled)="taskToggled($event)">
            </app-tasks>


            <span *ngIf="this.group.targetDate" class="task-target-date">موعد التسليم:
                {{this.group.targetDate}}.</span>




        </mat-tab>


        <mat-tab label="المجموعة  ({{group.membersCount}} أعضاء)">


            <!-- <app-group-progress [current]="progress[TASK_STATUS.DONE]" style="margin-top: 32px;"
                [target]="progress?.total">
            </app-group-progress> -->


            <app-group-progress-matrix *ngIf="group.membersCount > 0" [progressMatrix]="progressMatrix">
            </app-group-progress-matrix>

            <div *ngIf="group.membersCount == 0">

                <div class="tip">

                    السلام عليكم يا {{group.author}}،

                    <br />
                    <br />


                    حاليا لا يوجد أيّ عضو في مجموعتك.


                    <button mat-flat-button (click)="shareInviteMsg();" class="mat-elevation-z1">
                        مشاركة رابط الانضمام
                    </button>


                    كما ويمكنك إضافة الأعضاء يدويّا عن طريق الضفط
                    على إشارة القلم أدناه.

                </div>

            </div>

            <section *ngIf="showGroupMembers">

                <div *ngIf="isAdmin">

                    <div class="center-center" style="flex-direction: row;">
                        <div class="center-center" style="flex: 2;">
                            <mat-button-toggle class="members-list-edit-btn" *ngIf="isAdmin"
                                (click)="isMembersListEditMode = !isMembersListEditMode">
                                <mat-icon>edit</mat-icon>
                            </mat-button-toggle>
                        </div>

                        <div class="tip" style="flex: 8;" *ngIf="group.membersCount > 0">
                            <strong>لمسؤول المجموعة:</strong>
                            <br />

                            إضغط على إشارة القلم لتعديل أعضاء المجموعة.

                        </div>

                    </div>


                    <app-group-members [members]="this.group.getMembers()" [isEditMode]="isMembersListEditMode"
                        (onMemberRemove)="removeGroupMember($event)" (onMemberAdd)="addGroupMember($event)">
                    </app-group-members>


                </div>





                <!-- (onMemberClick)="toggleMemberTaskState($event)" -->

            </section>


            <div class="spacer"></div>


            <section class="center-center big-counter" *ngIf="group.cycle > 0">
                <label class="number">{{totalDoneTasks}}</label>
                <span class="text">أعمال طيّبة قمتم بها في هذه المجموعة منذ تأسيسها. في ميزان حسناتكم إن شاء
                    الله!</span>
            </section>


        </mat-tab>



        <mat-tab *ngIf="isAdmin" label="إدارة المجموعة">
            <section class="admin-tools">


                <button mat-flat-button (click)="shareStatusMsg(); adminPanelOpen=false;" style="background: #25D366;"
                    class="mat-elevation-z1">
                    <mat-icon>format_list_numbered_rtl</mat-icon>
                    <span>مشاركة وضع الأوراد</span>
                </button>

                <hr />

                <button mat-flat-button (click)="startNewCycleWithSameTasks(); adminPanelOpen=false;"
                    class="mat-elevation-z1">
                    <mat-icon>refresh</mat-icon>
                    <span>دورة جديدة مع نفس الأوراد</span>
                </button>

                <button mat-flat-button (click)="showTasksEditor(false); adminPanelOpen=false;"
                    class="mat-elevation-z1">
                    <mat-icon>edit</mat-icon>
                    <span>تعديل الأوراد الحاليّة</span>
                </button>

                <button mat-flat-button (click)="showTasksEditor(true); adminPanelOpen=false;" class="mat-elevation-z1">
                    <mat-icon>checklist_rtl</mat-icon>
                    <span>أوراد جديدة</span>
                </button>


                <hr />


                <div class="center-center secondary-admin-actions" style="align-content: space-around;">

                    <button mat-flat-button (click)="showEditGroupDialog(); adminPanelOpen=false;"
                        class="mat-elevation-z1">
                        <!-- <mat-icon>edit</mat-icon> -->
                        <span>تعديل تفاصيل المجموعة</span>
                    </button>

                    <button mat-flat-button (click)="shareInviteMsg(); adminPanelOpen=false;" class="mat-elevation-z1">
                        <!-- <mat-icon>link</mat-icon> -->
                        مشاركة رابط الانضمام
                    </button>

                </div>




            </section>
        </mat-tab>
    </mat-tab-group>

    <!-- </section> -->


    <div class="spacer"></div>

</div>