$primary-color: #544c4c;
$action-color: saturate(lighten($primary-color, 10%), 20%);
$background-color: #fafafa; //saturate(lighten($primary-color,75%),20%);

$status-todo-color: darkred;
$status-todo-bg-color: #fa897b;

$status-doing-color: brown;
$status-doing-bg-color: #ffdd94;

$status-done-color: darkgreen;
$status-done-bg-color: #d0e6a5;

$admin-color: #54325b; //#693c72;
$admin-action-color: saturate(lighten($admin-color, 20%), 0%);


$whatsapp-color: #25D366;