<section>
    <header>

        مجموعة جديدة

    </header>


    <p>
        مناسب للمجموعات التي تتعاون على الأوراد سويّا بشكل دوري، حتّى لو كان ذلك بوتيرة
        غير
        ثابتة.

        في حال كانت لديكم مجموعة أوراد جماعيّة عبر الوتسأب مثلا فإنّ إنشاء مجموعة عبر منصّة أوراد سيريحكم ويسهّل عملكم
        بشكل
        كبير
        إن شاء الله.
    </p>

    <form (ngSubmit)="createGroup()" [formGroup]="groupDetailsFormGroup" #createGroupForm="ngForm">


        <mat-form-field appearance="fill" class="block">
            <mat-label>عنوان المجموعة</mat-label>
            <input matInput formControlName="title" required="true" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill" class="block">
            <mat-label>اسمك (مسؤول المجموعة)</mat-label>
            <input matInput formControlName="author" required="true" autocomplete="off">
        </mat-form-field>


        <mat-form-field appearance="fill" class="block">
            <mat-label>وصف المجموعة (اختياري)</mat-label>
            <textarea rows="4" matInput formControlName="description"></textarea>
        </mat-form-field>

        <button mat-raised-button (click)="openTasksComposer()" type="button">اختيار المهام</button>


        <button type="submit" class="block large action-btn" mat-raised-button
            color="{{createGroupForm.form.valid ? 'accent' : ''}}" [disabled]="!createGroupForm.form.valid">
            إنشاء المجموعة
        </button>


    </form>

    <!-- 
    <mat-stepper orientation="vertical" [linear]="true">
        <mat-step [stepControl]="groupDetailsFormGroup">


        </mat-step>


        <mat-step>
            <ng-template matStepLabel>المهام</ng-template>
            <ng-template matStepContent>


                <app-tasks-composer></app-tasks-composer>

                <button mat-button matStepperPrevious type="button">السابق</button>
                <button mat-button matStepperNext type="button">التالي</button>
            </ng-template>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>إنشاء المجموعة</ng-template>


            <button type="submit" class="block large action-btn" mat-raised-button (click)="createGroup()"> إنشاء
                المجموعة</button>


            <button mat-button matStepperPrevious type="button">السابق</button>
        </mat-step>


    </mat-stepper> -->

</section>