<section>
    <header>

        مجموعة جديدة

    </header>


    <p>
        مناسب للمجموعات التي تتعاون على الأوراد سويّا بشكل دوري، حتّى لو كان ذلك بوتيرة
        غير
        ثابتة.

        في حال كانت لديكم مجموعة أوراد جماعيّة عبر الوتسأب مثلا فإنّ إنشاء مجموعة عبر منصّة أوراد سيريحكم ويسهّل عملكم
        بشكل
        كبير
        إن شاء الله.
    </p>


    <form (ngSubmit)="createGroup()" #createGroupForm="ngForm">

        <h2>تفاصيل المجموعة</h2>

        <mat-form-field appearance="fill" class="block">
            <mat-label>عنوان المجموعة</mat-label>
            <input matInput [(ngModel)]="title" name="title" required="true" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill" class="block">
            <mat-label>اسمك (مسؤول المجموعة)</mat-label>
            <input matInput [(ngModel)]="author" name="author" required="true" autocomplete="off">
        </mat-form-field>


        <mat-form-field appearance="fill" class="block">
            <mat-label>نص إضافي (اختياري)</mat-label>
            <textarea rows="4" matInput [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>



        <button type="submit" class="block large action-btn" mat-raised-button
            color="{{createGroupForm.form.valid ? 'accent' : ''}}" [disabled]="!createGroupForm.form.valid">


            إنشاء المجموعة



        </button>

    </form>


</section>