@import "src/_variables";

mat-card{
    display: flex;

    mat-icon{
        margin-inline-start: 8px;
        text-decoration: none!important;
    }
}

mat-card.status-0 {
    background: white;//$status-todo-bg-color;
    //color:$status-todo-color
}

mat-card.status-1 {
    background: $status-doing-bg-color;
    color:$status-doing-color
}

mat-card.status-2 {
    background: $status-done-bg-color;
    color:$status-done-color;

    .task-title{
        text-decoration: line-through;
    }
}
